<div class="container">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				{{#linkTo index classNames="brand"}}새마을{{/linkTo}}
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li>{{#linkTo index}}처음{{/linkTo}}</li>
						<li>{{#linkTo shop}}상점{{/linkTo}}</li>
						<li>{{#linkTo myItems}}내 물품{{/linkTo}}</li>
						<li>{{#linkTo myAuctions}}내 경매{{/linkTo}}</li>
						<li>{{#linkTo mail}}우편{{/linkTo}}</li>
						<li>{{#linkTo sign}}팻말{{/linkTo}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	{{outlet}}

</div>