<div class="container">
    <div class="row">
        {{#each model}}
            <div class="span3">
                <img src="images/blocks/dirt.png" class="img-rounded">
                <ul>
                    <li>{{player}}</li>
                    <li>{{price}}</li>
                    <li>{{itemname}}</li>
                    <li>See more</li>
                </ul>
            </div>
        {{/each}}
    </div>
</div>
