<table border="0" class="display" id="mainTable2">
      <thead>
        <tr>
            <th>langItem_info</th>
            <th>langSeller</th>
            <th>langExpires</th>
            <th>langQuantity</th>
            <th>langPrice_each</th>
            <th>langPrice_total</th>
            <th>langMarket_price</th>
            <th>langbuy</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5" class="dataTables_empty">Loading data from server</td>
        </tr>
    </tbody>
</table>